.loginContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginPanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	& button {
		width: 50%;
		padding: 1rem;
	}
}

.loginForm {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	width: 80%;
	font-size: 18px;
	& input {
		text-align: center;
		font-size: 18px;
	}
}
