* {
	font-family: Arial, Helvetica, sans-serif;
	direction: rtl;
}

body {
	margin: 0;
	min-width: 100svw;
	min-height: 100svh;
	height: 100svh;
	display: flex;
	flex-direction: column;
}

button {
	border-radius: 15px;
	height: fit-content;
	padding: 0.5rem;
	cursor: pointer;

	&:hover {
		background-color: rgba(0, 0, 255, 0.2);
	}
	border: none;
}
